<section>
  <audio src="./music/starwars.mp3" autoplay volume="0.1">
  </audio>

  <div ng-switch="moduleState">
    <div ng-switch-when="form" class="col-sm-8 col-sm-offset-2">
      <div class="page-header">
        <h1>{{vm.reservation._id ? 'Edit a Reservation' : vm.banquet.name }}</h1>
      </div>
      <div class="row">
        <div class="col-md-12 jumbotron">
          <div ng-bind-html="infoTextHtml">
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-12">
          <h3>Send in a application for booking a seat</h3>
          <form name="vm.form.reservationForm" class="form-horizontal" ng-submit="checkValidity(vm.form.reservationForm.$valid)" novalidate>
            <fieldset>
              <!-- Name -->
              <div class="form-group" show-errors>
                <label class="control-label" for="name">Name</label>
                <input name="name" type="text" ng-model="vm.reservation.name" id="name" class="form-control" required>
                <div ng-messages="vm.form.reservationForm.name.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Reservation name is required.</p>
                </div>
              </div>

              <!-- Email -->
              <div class="form-group" show-errors>
                <label class="control-label" for="email">E-mail</label>
                <input name="email" type="email" ng-model="vm.reservation.email" id="name" class="form-control" required>
                <div ng-messages="vm.form.reservationForm.email.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Reservation email is required.</p>
                </div>
              </div>

              <!-- Phone -->
              <div class="form-group" show-errors>
                <label class="control-label" for="phone">Phone</label>
                <input name="phone" type="text" ng-model="vm.reservation.phone" id="name" class="form-control" required>
                <div ng-messages="vm.form.reservationForm.phone.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Reservation phone is required.</p>
                </div>
              </div>

              <!-- Program -->
              <div class="form-group" show-errors>
                <label class="control-label" for="program">Program</label>
                <div>
                    <select class="form-control" name="program" ng-model="vm.reservation.program" ng-options="program for program in vm.programs" required>
                    </select>
                </div>
                <div ng-messages="vm.form.reservationForm.program.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Program is required.</p>
                </div>
              </div>

              <!-- Clothing -->
              <div class="form-group" show-errors>
                <label class="control-label" for="clothing">Clothing</label>
                <div>
                    <select class="form-control" name="clothing" ng-model="vm.reservation.clothing" ng-options="clothing for clothing in vm.clothings" required>
                    </select>
                </div>
                <div ng-messages="vm.form.reservationForm.clothing.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Clothing choice is required.</p>
                </div>
              </div>

              <!-- Membership -->
              <div class="form-group" show-errors>
                <label class="control-label" for="membership">Price and Membership in TLTH</label>
                <div>
                    <select class="form-control" name="membership" ng-model="vm.chosenMembership" ng-change="titleChanged()" ng-options="title as (title[0] + ', ' + title[1] + 'kr') for title in vm.titles" required>
                    </select>
                </div>
                <div ng-messages="vm.form.reservationForm.title.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Price and Membership is required.</p>
                </div>
              </div>

              <!-- Titles -->
              <div class="form-group" >
                <label class="control-label" for="title">Title</label>
                <br>
                <small> If you are requested (anmodad) please fill in your title, e.g PG15 or Head of Business relations W-sek</small>
                <div>
                    <input name="title" type="text" ng-model="vm.reservation.title" id="title" class="form-control" />
                </div>
              </div>

              <!-- Drink Package -->
              <div class="form-group">
                <label class="control-label" for="drinkpackage">Beverage package</label>
                <div ng-if="vm.isMember === undefined" >
                  <select class="form-control" ng-disabled="true" name="drinkpackage" ng-options="drinkpackage as (drinkpackage + ', ' + drinkpackage[1] + 'kr') for drinkpackage in vm.memberdrinkpackages" required>
                  </select>
                </div>
                <div ng-if="vm.isMember === true">
                    <select class="form-control" name="drinkpackage" ng-model="vm.chosenDrinkPackage" ng-options="drinkpackage as (drinkpackage[0] + ', ' + drinkpackage[1] + 'kr') for drinkpackage in vm.memberdrinkpackages" required>
                    </select>
                </div>
                <div ng-if="vm.isMember === false">
                    <select class="form-control" name="drinkpackage" ng-model="vm.chosenDrinkPackage" ng-options="drinkpackage as (drinkpackage[0] + ', ' + drinkpackage[1] + 'kr') for drinkpackage in vm.nonmemberdrinkpackages" required>
                    </select>
                </div>

                <div ng-messages="vm.form.reservationForm.drinkpackage.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Beverage package is required.</p>
                </div>
              </div>

              <!-- Foodpref -->
              <div class="form-group" show-errors>
                <label class="control-label" for="foodpref">Matpreferens / Food preference</label>
                <br />
                <!-- Choices -->
                <input type="checkbox" ng-model="vm.laktos" /> Laktos
                <input type="checkbox" ng-model="vm.vegetarian" /> Vegetarian (Eat fish and seafood)
                <input type="checkbox" ng-model="vm.vegan" /> Vegan
                <input type="checkbox" ng-model="vm.gluten" /> Gluten
                <!-- Other -->
                <input name="foodpref" type="text" ng-model="vm.other" id="other" placeholder="Other foodpreferences..." class="form-control">
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary">Overview</button>
              </div>
              <div ng-show="vm.titleError" class="text-danger">
                <strong ng-bind="vm.titleError"></strong>
              </div>
              <div ng-show="vm.drinkError" class="text-danger">
                <strong ng-bind="vm.drinkError"></strong>
              </div>
              <div ng-show="vm.error" class="text-danger">
                <strong ng-bind="vm.error"></strong>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <div ng-switch-when="overview">
      <h2>Please confirm your personal information:</h2>
      <hr/>
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-5"><strong>Name:</strong></div>
            <div class="col-md-6" ng-bind="vm.reservation.name"></div>
          </div>

          <div class="row">
            <div class="col-md-5"><strong>Email:</strong></div>
            <div class="col-md-6" ng-bind="vm.reservation.email"></div>
          </div>

          <div class="row">
            <div class="col-md-5"><strong>Phone:</strong></div>
            <div class="col-md-6" ng-bind="vm.reservation.phone"></div>
          </div>

          <div class="row" ng-show="vm.reservation.program">
            <div class="col-md-5"><strong>Program:</strong></div>
            <div class="col-md-6" ng-bind="vm.reservation.program"></div>
          </div>

          <div class="row">
            <div class="col-md-5"><strong>Title:</strong></div>
            <div class="col-md-6" ng-bind="vm.reservation.title"></div>
          </div>

          <div class="row">
            <div class="col-md-5"><strong>Price and Membership:</strong></div>
            <div class="col-md-6" ng-bind="vm.reservation.membership"></div>
          </div>

          <div class="row">
            <div class="col-md-5"><strong>Beverage package:</strong></div>
            <div class="col-md-6" ng-bind="vm.reservation.drinkpackage"></div>
          </div>

          <div class="row">
            <div class="col-md-5"><strong>Food preferences:</strong></div>
            <div class="col-md-6" ng-bind="vm.reservation.foodpref"></div>
          </div>

          <div class="row">
            <div class="col-md-5"><strong>Other food preferences:</strong></div>
            <div class="col-md-6" ng-bind="vm.reservation.other"></div>
          </div>

          <div class="row">
            <div class="col-md-5"><strong>Clothing:</strong></div>
            <div class="col-md-6" ng-bind="vm.reservation.clothing"></div>
          </div>

        </div>
      </div>
      <hr/>
      <h3>Amount to pay: <strong>{{vm.reservation.price}} kr</strong></h3>
      <hr/>
      <div class="form-group">
        <button class="btn btn-default" ng-click="showForm()">Back</button>
        <button class="btn btn-primary" ng-click="submitForm()">Confirm</button>
      </div>
      <div ng-show="vm.error" class="text-danger">
        <strong ng-bind="vm.error"></strong>
      </div>

    </div>
  </div>
</section>
