<section>
  <div class="page-header">
    <h1>Mailtemplates</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="mailtemplate in vm.mailtemplates"
       data-ui-sref="mailtemplates.view({ mailtemplateId: mailtemplate._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="mailtemplate.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="mailtemplate.user" data-ng-bind="mailtemplate.user.displayName"></span>
        <span data-ng-if="!mailtemplate.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="mailtemplate.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.mailtemplates.$resolved && !vm.mailtemplates.length">
    No Mailtemplates yet, why don't you <a data-ui-sref="mailtemplates.create">create one</a>?
  </div>
</section>
