










.tablegrid{
  width: 100%;
  display: inline-block;

  strong{
    text-align: center;
    display: block;
  }

  .tabletable{
    
    tbody{
      background-color: #333;
    }
    .reservation{
      cursor: pointer; 
      font-style: italic;
      opacity: 0.85;
      transition: all 0.3s ease-in;
      &:hover{
        transform: scale(1.1);
        opacity: 1;
      }
    }

    .reservation, .middle{
      background-color: #eee;
      color: #333;
      width: 25%;
      padding: 1px 15px;
      position: relative;  
      font-size: 11px;
      display: inline-block;

      &.girl{ background-color: pink; }
      &.guy{ background-color: lightblue; }
      &.other{ background-color: #eee; }
      &.selected{ background-color: green; }

      &.company{
        &.left{ border-left: 7px solid green; }
        &.right{ border-right: 7px solid green; }
      }
      &.student{
        &.left{ border-left: 7px solid orange; }
        &.right{ border-right: 7px solid orange; }
      }
  
    }
    .middle{
      color: #eee;
      background-color: transparent;
      width: 50%;
      text-align: center;
    }

  }


}











