.my-message {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.my-inner-message {
    margin: 0 auto;
}

pre{
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px
}
.tag {
  position: relative;
  display: inline-block;
  margin: 2px 0px;
  font-size: 12px;
  padding: 2px 3px;
  border: 1px solid #eee;
  background: #eee;
  border-radius: 5px;
  cursor: default;


  &.tag-btn{
    cursor: pointer;
    font-size: 14px;
    opacity: 0.7;
  }

  &.selected {
    background-color: #555;
    border-color: #555;
    color: #eee;
    opacity: 1;
  }
}



/* ARKAD design */
$white: #FFFFFF;
$gray: gray;
$black: #333;
$break-mobile: 768px;
$menu-black: rgba(30,30,30,0.95);

body {
  //background: #002B64;
  background: url("/modules/core/client/img/bakground-image.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar nav {
  @media screen and (max-width: $break-mobile) {
    background-color: $menu-black;

    .navbar-nav .open .dropdown-menu > .active > a {
      background: none;
      color: #4a87ff;
    }
    .dropdown-menu > li > a {
      color: $white;
    }
  }
}
section.container {
  background-color: rgba(230,230,230, 0.8);
  border-radius: 2px;
  padding: 25px;
  min-height: 400px;
}
.navbar-nav > li.open > a.dropdown-toggle {
  color: $black;
}
.navbar-nav > li > a {
  color: $white;
  text-shadow: none;

  &:focus, &:hover, &:active {
    color: $black;
  }
}
.navbar-brand {
  color: $white;
  text-shadow: none;
  &:focus {
    text-shadow: none;
    color: $gray;
  }
  &:hover {
    text-shadow: none;
    color: $gray;
  }
}
.icon-bar {
  background-color: $white;
}





/* Old CSS */
.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
a {
  cursor: pointer;
}
