<section>
  <div class="page-header">
    <h1>TablePlanning - {{ vm.tableplanning.name }}</h1>
  </div>
  <div class="row ">
    <div class="row jumbotron">
      <button class="btn btn-warning" ng-click="vm.generateTablePlanning()">Generate automatic tableplanning
      </button>
      <button class="btn btn-primary" ng-click="addTable()">Add table
      </button>
      <button class="btn btn-primary pull-right" ng-click="vm.openSaveModal()">Save...
      </button>
    </div>
    <div class="row">
      <div class="col-sm-9">


        <div class="tablegrid" ng-repeat="table in vm.tableplanning.tables track by $index">
          <h3>{{ table.name }}</h3>
          <table class="tabletable table">
            <tr ng-repeat="row in table.rows">
              <td class="reservation left" 
                ng-class="{student: !row.left.company, company: row.left.company, girl: row.left.clothing === 'Dress', guy: (row.left.clothing === 'Suit' || row.left.clothing === 'Costume'), other: row.left.clothing === 'None' }" ng-click="selectSeat(table, row.left)"> {{ row.left.name }} <span class="pull-right">{{ row.left.matched }}</span> </td>
              <td class="middle"> {{ row.left.nbr }}   |   {{ row.right.nbr }} </td>
              <td class="reservation right" 
                ng-class="{student: !row.right.company, company: row.right.company, girl: row.right.clothing === 'Dress', guy: (row.right.clothing === 'Suit' || row.right.clothing === 'Costume'), other: row.right.clothing === 'None' }" ng-click="selectSeat(table, row.right)"> <span class="pull-right">{{ row.right.matched }}</span> {{ row.right.name }} </td>
            </tr>
          </table>
        </div>


        <div class="tablegrid">
          <h3>Remaining rows</h3>
          <table class="tabletable table">
            <tr ng-repeat="row in vm.remainingRows">
              <td class="reservation left" 
                ng-class="{student: !row.left.company, company: row.left.company, girl: row.left.clothing === 'Dress', guy: (row.left.clothing === 'Suit' || row.left.clothing === 'Costume'), other: row.left.clothing === 'None' }" ng-click="selectSeat(table, row.left)"> {{ row.left.name }} <span class="pull-right">{{ row.left.matched }}</span> </td>
              <td class="middle"> {{ row.left.nbr }}   |   {{ row.right.nbr }} </td>
              <td class="reservation right" 
                ng-class="{student: !row.right.company, company: row.right.company, girl: row.right.clothing === 'Dress', guy: (row.right.clothing === 'Suit' || row.right.clothing === 'Costume'), other: row.right.clothing === 'None' }" ng-click="selectSeat(table, row.right)"> <span class="pull-right">{{ row.right.matched }}</span> {{ row.right.name }} </td>
            </tr>
          </table>
        </div>



      </div>
      <div class="col-sm-3">
        <div class="list-group">
          <div class="list-group-item">
            <input type="text" ng-change="searchReservations(searchText)" ng-model="searchText" placeholder="{{ vm.filteredReservations.length }} st..." class="form-control">
          </div>
          <button class="list-group-item" ng-repeat="reservation in vm.filteredReservations" ng-click="selectReservation(reservation)">
            {{ reservation.name }}, {{ reservation.table }} {{ reservation.seatNbr }}
          </button>
        </div>
      </div>
    </div>
  </div>












  <!-- Reservation Modal -->
  <div id="reservationModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <span class="reservationClose">×</span>
        <h2>{{ vm.currReservation.name }}</h2>
        <button class="btn btn-primary pull-right" ng-click="updateReservation(vm.currReservation)">Update</button>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <table class="table compact table-bordered nowrap">
          <tr>
            <td style="width: 125px"><strong>Honorary</strong></td>
            <td>
              <input type="checkbox" value="true" ng-model="vm.currReservation.honorary"/> Is honorary
            </td>
            <td><strong>Program</strong></td>
            <td>
              {{ vm.currReservation.program }}
            </td>
          </tr>
          <tr>
            <td><strong>Table</strong></td>
            <td>
              <select class="form-control" ng-model="vm.currTable" ng-options="table.name for table in vm.tableplanning.tables">
              </select>
            </td>
            <td><strong>Seat</strong></td>
            <td>
              <select class="form-control" ng-model="vm.currSeat" ng-options="s.nbr for s in vm.currTable.seats">
              </select>
            </td>
          </tr>
          <tr>
            <td><strong>Company</strong></td>
            <td>
              {{ vm.currReservation.company }}
            </td>
          </tr>
        </table>
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
        <h3></h3>
      </div>
    </div>
  </div>


  <!-- Seat Modal -->
  <div id="seatModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <span class="seatClose">×</span>
        <h2>{{ vm.currSeat.name || 'Empty seat' }}, {{ vm.currSeat.table }} {{ vm.currSeat.nbr }}</h2>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <table class="table compact table-bordered nowrap">
          <tr>
            <td>
              <button class="btn btn-warning center-block" ng-click="vm.removeSeat(vm.currSeat)">Set as 'Empty seat'
              </button>
            </td>
            <td>
              <button disabled class="btn btn-primary center-block" ng-click="switchSeats()">{{ vm.switchSeats ? 'Cancel switch' : 'Switch seat with another'; }}
              </button>
            </td>
          </tr>
          <tr>
            <td><strong class="pull-right">Company</strong></td>
            <td>
              {{ vm.currSeat.company }}
            </td>
          </tr>
          <tr>
            <td><strong class="pull-right">Program</strong></td>
            <td>
              {{ vm.currSeat.program }}
            </td>
          </tr>
          <tr>
            <td>
              <label><strong>Set reservation to this seat</strong></label>
              <br>
              <select class="form-control" ng-model="vm.newReservation" ng-options="r.name for r in vm.reservations">
              </select>
            </td>
            <td>
              
              <br>
              <button class="btn btn-primary" ng-click="setReservationToSeat(vm.newReservation, vm.currSeat)">Update
              </button>
            </td>
          </tr>
        </table>
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
        <h3></h3>
      </div>
    </div>
  </div>





  <!-- Save Modal -->
  <div id="saveModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <span class="saveClose">×</span>
        <h2>Save TablePlanning</h2>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="row">
              <label class="col-sm-4">Overwrite</label> 
              <select ng-model="vm.oldPlan" class="form-control" ng-options="tp.name for tp in vm.tableplannings"></select>
              </select>
              <button class="btn btn-primary pull-right" ng-click="saveOverOldPlan(vm.oldPlan)">
                Save
              </button>
            </div>
            <p class="lead text-center">Or</p>
            <div class="row">
              <label class="col-sm-4">Save as new</label> 
              <input type="text" class="form-control" ng-model="vm.newPlanName" placeholder="Name..." />
              <button class="btn btn-primary pull-right" ng-click="saveAsNewPlan(vm.newPlanName)">
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
        <h3></h3>
      </div>
    </div>
  </div>






</section>
