<section>
  <div class="page-header">
    <h1>Companies</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="company in vm.companies"
       data-ui-sref="companies.view({ companyId: company._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="company.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="company.user" data-ng-bind="company.user.displayName"></span>
        <span data-ng-if="!company.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="company.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.companies.$resolved && !vm.companies.length">
    No Companies yet, why don't you <a data-ui-sref="companies.create">create one</a>?
  </div>
</section>
